body{
  background-color: #F5F5F5;
  font-family: "DM Sans", "Syne", sans-serif;
}

.SyneClass {
  font-family: "Syne", sans-serif !important;
}

#NavItems{
  font-family: "Syne", sans-serif !important;
  font-weight: 600;
}
#sidebar-items{
  font-family: "Syne", sans-serif !important;
  font-weight: 600;
  font-size: x-large;
}
